In [1]:
import pandas as pd
import numpy as np

In [2]:
gender = pd.read_csv('Percentage_gender_immigrant_population_year.csv')
gender.rename(columns={'percentage_immigrants_per_gender': 'percentage'}, inplace=True)
gender

   year  gender  percentage
0  2017    Male     49.1775
1  2017  Female     50.8225
2  2016    Male     48.9250
3  2016  Female     51.0750
4  2015    Male     49.9933
5  2015  Female     50.0067
6  2014    Male     50.5304
7  2014  Female     49.4696
8  2013    Male     50.4858
9  2013  Female     49.5142

In [3]:
gender_district = pd.read_csv('Percentage_gender_immigrant_population_district_year.csv')
gender_district.rename(columns={'immigrants_percentage': 'percentage'}, inplace=True)
gender_district

    year        district_name  gender  percentage
0   2017         Ciutat Vella  Female     45.2066
1   2017         Ciutat Vella    Male     54.7934
2   2017             Eixample  Female     51.7457
3   2017             Eixample    Male     48.2543
4   2017               Gràcia  Female     53.6945
..   ...                  ...     ...         ...
95  2013           Sant Martí    Male     51.7811
96  2013       Sants-Montjuïc  Female     48.1307
97  2013       Sants-Montjuïc    Male     51.8693
98  2013  Sarrià-Sant Gervasi  Female     53.1702
99  2013  Sarrià-Sant Gervasi    Male     46.8298

[100 rows x 4 columns]

### The average immigrant in terms of gender

The distribution of gender its almost 50-50 and it has followed the same trend in the last years:

In [4]:
gender_distribution_years = gender
decimals = 2    
gender_distribution_years['percentage'] = gender_distribution_years['percentage'].apply(lambda x: round(x, decimals))
gender_years = gender_distribution_years.pivot(index="gender", columns="year", values="percentage")
gender_years

year     2013   2014   2015   2016   2017
gender
Female  49.51  49.47  50.01  51.08  50.82
Male    50.49  50.53  49.99  48.92  49.18

### Check gender distribution per district

Gender distribution per district. 
Most districts have a higher percentage of women than men.
Only 3 districts have a higher percentage of men (Sants-Montjuïc, Sant Martí, Ciutat Vella). The difference in Ciutat Vella is specially significant, men percentage being almost 10 points higher than women.

In [5]:
gender_district_2017 = gender_district[(gender_district['year'] == 2017)]
gender_district_2017 = gender_district_2017.loc[:, 'district_name':'percentage']
decimals = 2    
gender_district_2017['percentage'] = gender_district_2017['percentage'].apply(lambda x: round(x, decimals))
gender_district_2017

          district_name  gender  percentage
0          Ciutat Vella  Female       45.21
1          Ciutat Vella    Male       54.79
2              Eixample  Female       51.75
3              Eixample    Male       48.25
4                Gràcia  Female       53.69
5                Gràcia    Male       46.31
6        Horta-Guinardó  Female       51.98
7        Horta-Guinardó    Male       48.02
8             Les Corts  Female       53.62
9             Les Corts    Male       46.38
10           Nou Barris  Female       53.18
11           Nou Barris    Male       46.82
12          Sant Andreu  Female       51.03
13          Sant Andreu    Male       48.97
14           Sant Martí  Female       49.59
15           Sant Martí    Male       50.41
16       Sants-Montjuïc  Female       49.91
17       Sants-Montjuïc    Male       50.09
18  Sarrià-Sant Gervasi  Female       53.12
19  Sarrià-Sant Gervasi    Male       46.88

In [6]:
gender_per_district_2017 = gender_district_2017.pivot(index="gender", columns="district_name", values="percentage")
gender_per_district_2017

district_name,Ciutat Vella,Eixample,Gràcia,Horta-Guinardó,Les Corts,Nou Barris,Sant Andreu,Sant Martí,Sants-Montjuïc,Sarrià-Sant Gervasi
gender,,,,,,,,,,
Female,45.21,51.75,53.69,51.98,53.62,53.18,51.03,49.59,49.91,53.12
Male,54.79,48.25,46.31,48.02,46.38,46.82,48.97,50.41,50.09,46.88

### Gender evolution in Ciutat Vella over time

Female presence actually increased over the last years.

In [7]:
gender_Ciutat_Vella_over_time  = gender_district[(gender_district['district_name'] == 'Ciutat Vella')]
gender_Ciutat_Vella_over_time

    year district_name  gender  percentage
0   2017  Ciutat Vella  Female     45.2066
1   2017  Ciutat Vella    Male     54.7934
20  2016  Ciutat Vella  Female     46.4006
21  2016  Ciutat Vella    Male     53.5994
40  2015  Ciutat Vella  Female     44.2422
41  2015  Ciutat Vella    Male     55.7578
60  2014  Ciutat Vella  Female     43.4307
61  2014  Ciutat Vella    Male     56.5693
80  2013  Ciutat Vella  Female     42.1115
81  2013  Ciutat Vella    Male     57.8885

In [9]:
gender_Ciutat_Vella_over_time = gender_Ciutat_Vella_over_time.pivot(index="gender", columns="year", values="percentage")
gender_Ciutat_Vella_over_time

year       2013     2014     2015     2016     2017
gender
Female  42.1115  43.4307  44.2422  46.4006  45.2066
Male    57.8885  56.5693  55.7578  53.5994  54.7934